@font-face {
  font-family: 'Prata';
  src: url(./src/fonts/Prata-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* block HEADER */
.header {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #222222;
  overflow-x: hidden;
}

.header-container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  width: 100%;
}

.header-nav {
  display: flex;
  gap: 150px;
  background-color: #222222;
}

.logo {
  font-size: clamp(16px, 2.5vw, 32px);
  font-family: 'Prata', serif;
  line-height: 150%;
  letter-spacing: 3px;
  color: #ffffff;
  margin-top: 44px;
  white-space: nowrap;
}

.nav {
  display: flex;
  gap: 29px;
  margin-top: 53px;
}

.line-menu1 {
  display: none;
}
.line-menu2 {
  display: none;
}
.line-menu3 {
  display: none;
}

.nav-link {
  display: flex;
  text-decoration: none;
  gap: 29px;
  font-size: clamp(16px, 1.5vw, 24px);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #ffffff;
  transition: color 0.3s, transform 0.1s, text-shadow 0.3s;
  white-space: nowrap;
}

.nav-link:hover {
  color: #8b4513;
  text-shadow: 0 0 5px rgba(139, 69, 19, 0.5);
}

.nav-link:active {
  color: #5a2d0c;
  transform: translateY(2px);
}

.photo1 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-text {
  width: 100%;
  padding-right: 5%;
  gap: 5%;
}

.header-title {
  font-size: clamp(24px, 6vw, 32px);
  font-family: 'Prata', serif;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 20px;
}

.header-description {
  font-size: clamp(16px, 4vw, 24px);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #e0e0e0;
  margin-bottom: 30px;
}

.header-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.list-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 110%;
  color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 15px 30px;
  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 4px;
  color: #222222;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s;
}

.btn:hover {
  background: linear-gradient(135deg, #d2b48c, #8b4513);
  color: #fff;
  box-shadow: 0 4px 10px rgba(139, 69, 19, 0.3);
  transform: translateY(-2px);
}

.btn:active {
  background: #8b4513;
  box-shadow: 0 0 15px rgba(139, 69, 19, 0.5);
  transform: translateY(2px) scale(0.98);
}

/* block MAIN */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #282829;
}

.content {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1;
  padding: 5% 0;
  gap: 5%;
}

.underline {
  background: linear-gradient(#55565a 50%, transparent 50%);
  background-position: 0 bottom;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}

.photo {
  flex: 1;
  width: 400px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.content-wrap {
  display: flex;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  gap: 50px;
}
.content-text-subtext {
  display: flex;
  flex: 1;
  gap: 10%;
}

.icon {
  width: 58px;
  max-width: 100%;
  height: auto;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2vw, 28px);
  line-height: 110%;
  color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* block FORM */

.content-form {
  max-width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex: 1;
  gap: 5%;
  margin: 5% auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  width: 1000px;
  max-width: 100%;
  height: auto;
  margin-left: 5%;
}

.image-form {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 5%;
}

.form-title {
  font-size: clamp(24px, 6vw, 32px);
  font-family: 'Prata', serif;
  font-weight: 400;
  line-height: 120%;
  color: #38535d;
  margin-bottom: 20px;
}

.input-form {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  border-color: #38535d;
  padding-left: 5%;
  font-size: clamp(12px, 6vw, 16px);
  font-family: 'Prata', serif;
  font-weight: 400;
  line-height: 120%;
  color: #38535d;
}

.input-checkbox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 110%;
  color: #38535d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.btn-form {
  height: auto;
  padding: 15px 30px;
  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 4px;
  color: #ffffff;
  background: #222222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s;
}

.btn-form:hover {
  background: linear-gradient(135deg, #d2b48c, #8b4513);
  color: #fff;
  box-shadow: 0 4px 10px rgba(139, 69, 19, 0.3);
  transform: translateY(-2px);
}

.btn-form:active {
  background: #8b4513;
  box-shadow: 0 0 15px rgba(139, 69, 19, 0.5);
  transform: translateY(2px) scale(0.98);
}

.figure {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.women-img {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80.5%, 0 80.5%);
}

input[type='checkbox'] {
  width: 25px;
  height: 35px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 300px;
  background-color: #222222;
}
.footer-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-top: 1%;
}

.footer-content {
  width: 100%;
  height: auto;
  background-color: #222222;
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-top: 3%;
}

.logo-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.logo-icon {
  padding-top: 15px;
  margin: 0;
}

.social-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.social-icon {
  display: flex;
  gap: 3em;
  justify-content: center;
}

.footer-btn-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-btn {
  font-size: clamp(12px, 2.5vw, 20px);
}

.ftr-text {
  text-align: end;
}

.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 110%;
  color: #d5c9be;
}

/* -------- */
/* ADAPTIVE  */

@media screen and (min-width: 1240px) and (max-width: 1440px) {
  /* HEADER */
  .photo1 {
    flex: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header-container {
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: auto;
    background-color: #222222;
  }

  /* MAIN */
  /* CONTENT */
  .photo {
    width: 350px;
  }
}

@media (max-width: 1024px) {
  /* HEADER */
  .header {
    flex-direction: column;
  }

  .nav {
    margin: 0px;
  }
  .header-container {
    padding: 10px;
    gap: 15px;
  }
  .header-nav {
    flex-direction: column;
    gap: 10px;
  }

  .photo1 {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .line-menu-container {
    display: inline-block;
    cursor: pointer;
  }

  .line-menu1,
  .line-menu2,
  .line-menu3 {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .line-menu1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .line-menu2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .line-menu3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* MAIN */
  .photo {
    display: none;
  }

  .figure {
    display: none;
  }

  /* FOOTER */
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .footer-btn-container {
    display: none;
  }
}

@media (max-width: 520px) {
  /* HEADER */
  .header {
    gap: 10px;
    flex-direction: column;
  }

  .logo {
    margin-top: 20px;
  }

  .header-nav {
    flex-direction: column;
    gap: 0;
  }
  .nav {
    flex-direction: column;
    gap: 5px;
    display: none;
  }

  .header-container {
    width: 100%;
    padding: 0;
  }
  .header-title {
    font-size: 20px;
  }
  .photo1 {
    width: 100%;
  }

  .header-description {
    font-size: 14px;
  }

  .btn {
    padding: 10px;
    font-size: 12px;
  }
  /* MAIN */
  .icon {
    width: 45px;
  }

  /* FOOTER */
  .nav-footer {
    flex-direction: column;
    gap: 10px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .footer-btn-container {
    display: none;
  }
}
